name: Nix Develop

on:
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  nix-develop:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Run tests in dev shell
        run: |
          nix develop -c bash -lc "go test ./... -bench=."
